# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages
- List commonly used libraries
- Brag with tables
- Show arithmetic expressions in Python

  ## Author
  Holger Zapf

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Plotly
3. Pandas
4. TensorFlow

|Data Science Tools|
|:---------|
|Python|
|R|
|Pandas|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335